@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@700&display=swap');

.handwritten {
  font-family: 'Chathura', sans-serif;
  font-size: 1.8em;
  color: #000;
  margin-bottom: 0.5em;
  font-weight: 700;
  text-shadow: none;
}
