@media screen and (max-width: 1024px) {
  /* Navigation - much bigger */
  nav a {
    font-size: 42px !important;
    padding: 24px 28px !important;
  }
  
  /* Body */
  body {
    font-size: 36px !important;
  }
  
  /* Main */
  main {
    padding: 20px !important;
    max-width: 900px !important;
    background-color: transparent !important;
    font-size: 36px !important;
  }
  
  /* Headings */
  h1 {
    font-size: 56px !important;
  }
  
  h2 {
    font-size: 44px !important;
  }
  
  p {
    font-size: 36px !important;
  }
  
  /* Poem styles - much bigger */
  .poem-title {
    font-size: 60px !important;
  }

  .poem-text {
    font-size: 40px !important;
    line-height: 1.8 !important;
  }

  .poem-date {
    font-size: 38px !important;
  }
  
  /* List items - bigger */
  .anbhigya-poem {
    font-size: 36px !important;
  }
  
  .anbhigya-poem h2 {
    font-size: 44px !important;
  }
  
  .anbhigya-poem .poem-date {
    font-size: 32px !important;
  }
  
  /* Force all text elements to inherit */
  div, span, a, li {
    font-size: inherit !important;
  }
}