@media screen and (max-width: 768px) {
  /* Force mobile font sizes globally */
  body {
    font-size: 24px !important;
  }
  
  h1 {
    font-size: 42px !important;
  }
  
  h2 {
    font-size: 30px !important;
  }
  
  p {
    font-size: 24px !important;
  }
  
  nav a {
    font-size: 26px !important;
  }
}