@media screen and (min-width: 769px) and (max-width: 1024px) {
  nav li {
    margin: 0 10px !important;
  }
  
  main {
    max-width: 700px !important;
  }

  .poem-title {
    font-size: 38px !important;
  }

  .poem-text {
    font-size: 24px !important;
  }

  .poem-date {
    font-size: 22px !important;
  }
}